<body>
<div class="waviy">
  <span style="--i:1">W</span>
  <span style="--i:2">E</span>
  <span style="--i:3">L</span>
  <span style="--i:4">C</span>
  <span style="--i:5">O</span>
  <span style="--i:6">M</span>
  <span style="--i:7">E</span>
  <span style="--i:8">!</span>
</div>
<div class="house">
  <div class="main">
    <div class="windows_right"></div>
    <div class="windows_left"></div>
    <div class="line adjust"></div>
    <div class="roof"></div>
    <div class="front">
      <div class="line"></div>
      <div class="door"></div>
    </div>
    <div class="side">
      <div class="line"></div>
      <div class="windows"></div>
    </div>
    <div class="tree"></div>
    <div class="tree tree2"></div>
  </div>
</div>
</body>
