<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <h2>Log In</h2>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username"
               required>
        <mat-error>
          Vă rugăm introduceți un nume de utilizator valid
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Vă rugăm introduceți o parolă validă
        </mat-error>
      </mat-form-field>


      <button mat-raised-button color="primary" (click)="login()">Log in</button>
    </form>
  </mat-card-content>
</mat-card>

