body {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.register {
  margin-top: .5rem;
  .register-hyperlink {
    color: #dc7900;
  }
}

form {
  background-image: linear-gradient(to left, #3f3f3f, #2a2a2a);
  display: flex;
  flex-direction: column;
  & > * {
    margin-bottom: .3rem;
  }
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

