.emailInput{
  padding-top: 10px;
}

.register-form-submit-button{
  width: 20%;
  background-image: linear-gradient(to left, #553f93, #8E24AA);
}

.register-form-submit-button:hover{
  background-image: linear-gradient(to right, #cea25a, #dc7900);
  color: #2a2a2a;
}

