<table mat-table [dataSource]="tasks" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="task_name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let task"> {{task.task_name}} </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="task_category">
    <th class="view-header-cell" mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let task"> {{task.task_category}} </td>
  </ng-container>

  <!-- Deadline Column -->
  <ng-container matColumnDef="task_deadline">
    <th class="view-header-cell" mat-header-cell *matHeaderCellDef> Deadline </th>
    <td mat-cell *matCellDef="let task"> {{task.task_deadline}} </td>
  </ng-container>

  <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
