mat-toolbar {
  background-image: linear-gradient(to left, #553f93, #8E24AA);
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background-image: linear-gradient(to left, #553f93, #8E24AA);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px 16px 16px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
.mat-icon{
  margin-right: 8px;
  margin-left: 8px;
}


.houseImage {
  margin-right: 10px;
  margin-bottom: -10px;
}

.aligned-with-icon{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}

.appTitle {
  margin-right: 10px;
  margin-top: 700px;
}

.right-aligned{
  margin-left: 1130px;
  margin-bottom: 18px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
